.SearchBox #search {
    font-size: 16px;
    color: #999999;
    padding:0.2em 5em 0.2em 0.2em;
    width: 40%;
}

#form{
    display: flex;
    align-content: center;
    justify-content: center;
}

#lupa img{
    width: 16px;
    height:auto;
    padding: 1px 0 0 0.0;
    margin:0.2em;
}